<label>Se recibio una solicitud para restablecer la contraseña, acceda al siguiente enlace para efectuar los cambios.</label>
<br><br/>
<a href='<?= $url ?>'>Restablecer Contraseña aqui.</a>
<br/><br/><br/>
