<hr style="border-rop-color: #011880;background-color: #011880">
<label style="color:#011880;">Administrador</label>
<label style="color:#011880;font-weight: bold;">Sistema Seguimiento de Denuncias</label><br>
<label style="font-size: 14px;color:#000;">Se ha recibido una nueva denuncia <strong><?=$codigo;?></strong>.</label>
<label>Por favor dar seguimiento lo antes posible.</label>
<br>
<label style="font-size: 14px;font-weight: bold;">REDCA+</label>
<br>