<hr style="border-rop-color: #011880;background-color: #011880">
<label style="font-size: 14px;color:#000;">Hemos recibido los detalles de la denuncia, el c&oacute;digo para su seguimiento es <strong><?=$codigo;?></strong>.</label>
<label>Muy pronto nos comunicaremos con usted.</label>
<br><br>
<label style="font-size: 14px;font-weight: bold;">REDCA+</label>
<br>