<?php
$cod='';
$datNoti=[];
$nombre='';
$estado='';
$remitente='';
$asunto='';
$contenido='';
foreach($datos[0] as $data ){
    $cod=$data['denuncias']['codigo'];
}

$noti =$datos[1];
    $datNoti[]=json_decode($noti['noti']['param']);

foreach($datos[2] as $data ){
    $nombre=$data['users']['nombrecompleto'];
}

foreach($datNoti as $data ){
    $asunto = $data->asunto;
    $contenido = $data->contenido;
}
?>


<hr  style="background-color:#011880; height:1px;  border:1px solid #011880;"/>
<br><br>
<div style="text-align: justify"><?=$contenido?></div>
<label>Codigo de la denuncia: <strong><?=$cod?></strong></label><br>
<br><br>
<label style="font-size: 14px;font-weight: bold;">REDCA+</label>


