.title-index {
	margin-top: 10px;
	color: $accent-red;
	font-size: 2em;
}

.title-view {
	display: flex;
	align-items: center;
	margin-top: 20px;
	font-size: 0.45em;
	.title-view__title {
		margin-right: 20px;
	}
	.title-view__buttons {
		margin-left: auto;
	}
	+ .transitions {
		min-height: 30px;
	}
}

.text-red {
	color: $accent-red;
}
.title-graf {
	font-size: 16px;
	color: #011880;
	font-weight: bold;
	margin-bottom: 3px;
}