$main-color: #011880;
$main-light: #4160a3;
$gray-color: #e6e6e6;
$accent-red: #cb071a;
$accent-bright-red: #ff3823;
$accent-orange: #ff6624;
$accent-bright-blue: #0c59cf;
$accent-light-blue: #eaf1fe;
$light-color: #ffffff;
$dark-color: #101010;
$color-botton: #c0c0c0;
$color-panel: #006DB8;
