@import url("https://fonts.googleapis.com/css?family=Roboto");
body{
    font-family: 'Roboto', sans-serif;
}
.titulo-personalizado{
    color: #000000;
}
#search_box{
    border-top-color: #000;
}
.table thead{
    background-color: #d6d6d6!important;
    color: #000000 !important;
}
.table thead th a{
    color: #000000 !important;
}
.table tbody tr td{
    background: #FFFFff !important;
}
.table tbody tr{
    background-color: #FFFFff !important;
}
.table tbody tr td .ver{
    color: #000000 !important;
}
/**seccion de panel-bootstrap***/
.panel-primary{
    border-color: #ffffff;
}
.panel-primary > .panel-heading{
    background-color: #9d9d9d !important;
    border-color: #FFFFff;
}
/***SECCION DE VIEW***/
.head-juegos{
    display: flex;
}
.escudo1{
    width: 110px !important;
    height: 130px !important;
}
.escudo2{
    width: 110px !important;
    height: 130px !important;
}
.marcador{
    font-size: 20px;
    font-weight: bold;
}
/***Estilo para pantallas publicas - controlador publics****/
.content-posiciones .content-title{
    background-color: #555!important;
}
.content-posiciones .content-title{
    background-color: #555 !important;
}
.content-posiciones .content-title{
    background-color: #555!important;
}
/*****/
.grid-lbl{
    padding: 5px 5px 5px 17px;
    font-weight: bold;
    font-size: 14px;
}
.grid-dato{
    padding: 5px 5px 5px 0;
    font-size: 14px;
}
.subtitulo-view{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    color:#555;
}
/***-------Panels-------------***/
.nav-pills li {
    margin-right: 10px;
    background-color: #9d9d9d;
    border-radius: 4px; }
.nav-pills li a {
    color: #dfdfdf;
    font-weight: bold;
    font-size: 14px; }

.nav-pills li a:hover {
    background-color: #BCBABA !important;
    cursor: pointer; }
.activa {
    background-color: #555!important;
}
/****--------------*****/
.actualizar-en{
    color: #000;
}
.btn-update-minutos{
    color: #000;
}
/********************/
.tb-publics thead tr th{
    font-size: 14px !important;
}
.tb-publics tbody tr td{
    font-size: 14px !important;
}