/* SVN FILE: $Id: cake.generic.css 7690 2008-10-02 04:56:53Z nate $ */
/**
 *
 * PHP versions 4 and 5
 *
 * CakePHP(tm) :  Rapid Development Framework <http://www.cakephp.org/>
 * Copyright 2005-2008, Cake Software Foundation, Inc.
 *								1785 E. Sahara Avenue, Suite 490-204
 *								Las Vegas, Nevada 89104
 *
 * Licensed under The MIT License
 * Redistributions of files must retain the above copyright notice.
 *
 * @filesource
 * @copyright		Copyright 2005-2008, Cake Software Foundation, Inc.
 * @link				http://www.cakefoundation.org/projects/info/cakephp CakePHP(tm) Project
 * @package			cake
 * @subpackage		cake.app.webroot.css
 * @since			CakePHP(tm)
 * @version			$Revision: 7690 $
 * @modifiedby		$LastChangedBy: nate $
 * @lastmodified	$Date: 2008-10-02 00:56:53 -0400 (Thu, 02 Oct 2008) $
 * @license			http://www.opensource.org/licenses/mit-license.php The MIT License
 */
/*Fuente*/
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot') format('embedded-opentype'),
	url('fonts/icomoon.woff') format('woff'),
	url('fonts/icomoon.ttf') format('truetype'),
	url('fonts/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'barcode';
	src:url('fonts/3of9Barcode.eot');
	src:url('fonts/3of9Barcode.eot') format('embedded-opentype'),
	url('fonts/3of9Barcode.woff') format('woff'),
	url('fonts/3of9Barcode.ttf') format('truetype'),
	url('fonts/3of9Barcode.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*Fin Fuente*/
* {
	margin:0;
	padding:0;
}

/*Alerta*/

.alertas
{
	background: #0000b3;
	width: 100%;
	height: 30px;
	border-top: solid;
	border-bottom: solid 5px #4e8ccf;
	position: relative;
}
.alertas:before
{
	content: " ";
	position: absolute;
	top: 25px;
	left: 0px;
	right: 0px;
	bottom: 5px;
	height: 10px;
	/* border-bottom: 5px solid rgba(0, 31, 255, 0.65); */
	background: #4e8ccf; /* Old browsers */
	background: -moz-linear-gradient(top,  #4e8ccf 35%, #a7c1d1 60%, #a7c1d1 60%, #a7c1d1 71%, #5f88e8 86%, #0046ea 96%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,#4e8ccf), color-stop(60%,#a7c1d1), color-stop(60%,#a7c1d1), color-stop(71%,#a7c1d1), color-stop(86%,#5f88e8), color-stop(96%,#0046ea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4e8ccf 35%,#a7c1d1 60%,#a7c1d1 60%,#a7c1d1 71%,#5f88e8 86%,#0046ea 96%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4e8ccf 35%,#a7c1d1 60%,#a7c1d1 60%,#a7c1d1 71%,#5f88e8 86%,#0046ea 96%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4e8ccf 35%,#a7c1d1 60%,#a7c1d1 60%,#a7c1d1 71%,#5f88e8 86%,#0046ea 96%); /* IE10+ */
	background: linear-gradient(to bottom,  #4e8ccf 35%,#a7c1d1 60%,#a7c1d1 60%,#a7c1d1 71%,#5f88e8 86%,#0046ea 96%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e8ccf', endColorstr='#0046ea',GradientType=0 ); /* IE6-9 */

}
.alertas span
{
	margin-left: 15px;
	font-size: 1em;
	color: yellow;
	border-left: red solid 1px;
	padding: 2px;
	display: inline-block;
	margin-top: 2px;
}
.alertas #alert
{
	border:none;
}
.alertas #alert strong
{
	border:none;
	color: red;
	font-size: 1em;
}
/*Fin alerta*/

/* iconos */
.ver, .editar,.otroseg
{
	text-decoration: none;
}
.deleteDet{
	text-decoration: none;
	font-size: 20px;
}

.deleteDet:before
{
	font-family: 'icomoon';
	content: "\e901";
}
.reqCompra:before
{
	font-family: 'icomoon';
	content: "\e902";
}

.ver:before
{
	padding-left: 10px;
	font-family: 'icomoon';
	content: "\e604";
}

	.check:before
	{

		font-family: 'icomoon';
		content: "\e903";
		color:#819FF7;
		font-size: 1em;
	}
	.editar:before
	{
		font-family: 'icomoon';
		content: "\e601";
	}

.cancelar:before
{
    font-family: 'icomoon';
    content: "\ea0f";
	font-size: 1.5em;
	font-weight: bold;
}
span.cancelar{
	text-decoration: none;
}

.otroseg:before
{
	font-family: 'icomoon';
	content: "\e900";
}
.agregar:before{
	font-family: 'icomoon';
	content:"\ea0a";
}
a.agregar{
	text-decoration: none;
}

.editar2{
	padding-left: 17px;
	background: url("ui-lightness/images/edit.png") center left no-repeat;
}

.edicion:before{
	font-family: 'icomoon';
	content:"\e98f";
}

.buscar:before
{
	content: "\e602";
	float: left;
	font-family: 'icomoon';
	font-size: 1.5em;
	margin-top: 2px;
}

.add:before {
    font-family: 'icomoon';
    color: #819FF7;
    font-size: 1em;
    content: "\e962";
}
.add2:before {
    font-family: 'icomoon';
    color: white;
    font-size: 1em;
	padding-right: 3px;
    content: "\e962";
}
.busqueda:before {
	font-family: 'icomoon';
	color: #819FF7;
	font-size: 1.2em;
	content: "\e982";
}
.checkear:before {
	font-family: 'icomoon';
	color: #819FF7;
	font-size: 0.58em;
	content: "\1f527";
}

span.add2{
	text-decoration: none;
}

/* Fin iconos*/
#search_box{
	background: #f6f6f6;
	border-bottom: solid 1px;
	border-top: solid 6px;
	border-bottom-color: #f6f6f6;
	border-top-color:#4160a3;
	margin: 15px 0 15px 0;
	padding: 7px;
}
#Buscar
{
	width: 30%;
}

/* Estilos de las vistas detalladas en el panel admin */
.admin_view{
	/*background: #f6f6f6;*/
	border-bottom: solid 1px;
	border-top: solid;
	border-bottom-color: #4e8ccf;
	border-top-color: #4e8ccf;
	margin: 15px 0 15px 0;
	padding: 7px;
	width: 60%;
}

.admin_view dt{
	background: #f6f6f6;
}

.admin_view dd{
	/*background: #f6f6f6;*/
}

/*Estilos de el Panel de administracion*/
.seccionAdmin{
	background: #f6f6f6;
	border-bottom: solid 1px;
	border-top: solid;
	border-bottom-color: #4e8ccf;
	border-top-color: #4e8ccf;
	margin: 15px 0 15px 0;
	padding: 7px;
	box-shadow: 2px 2px 10px rgba(1, 84, 189, 0.55);
}
.seccionAdmin h3{
	color: #207cca;
}
.seccionAdmin p{
	font-size: 0.8em
}
.seccionAdmin table{
	border-spacing:0;
}
.seccionAdmin table tr td{
	border: solid 1px #207cca;
	padding: 2px 2px 2px 3px;
	width: 25%;
}
.seccionAdmin table tr .linea{
	border-right: solid 2px #207cca;
}
.seccionAdmin figure{
	float: left;
}
/*Fin de estilos de el Panel de administracion*/
/* Tables */
.cake-sql-log table {
	background: #f4f4f4;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
}

.table-condensed tbody tr th,
.table-condensed tbody tr td {
	background-color: transparent;
	padding: 2px 10px;
}

.table-striped {
	border: none;
}

.table-striped tbody tr td:last-of-type {
	border-right: none;
}

.close {
	margin-top: -5px;
}

.view_table {
	max-width: 700px;
}

.view_table,
.view_table tbody tr th,
.view_table tbody tr td {
	border: none;
}

.view_table tbody tr th,
.view_table tbody tr td {
	text-align: left;
	padding: 5px;
	background-color: transparent;
}

/* Paging */
div.paging {
	background:#fff;
	color: #ccc;
	margin-bottom: 2em;
}
div.paging div.disabled {
	color: #ddd;
	display: inline;
}
div.paging span {
}
div.paging span.current {
	color: #000;
}
div.paging span a {
}

/* Scaffold View */
dl {
	line-height: 2em;
	margin: 0em 0em;
	/*width: 60%;*/
}
dl.altrow {
	background: #f4f4f4;
}
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
dd {
	margin-left: 28em;
	margin-top: -2em;
	vertical-align: top;
}

/* Forms */
form div {
	clear: both;
	/*margin-bottom: 1em;*/
	/*padding: .5em;*/
	vertical-align: text-top;
}
form div.input {
	color: #444;
}
form div.required {
	color: #333;
	font-weight: bold;
}
form div.submit {
	border: 0;
	clear: both;
//margin-top: 10px;
	/*margin-left: 140px;*/
}
label {
	display: block;
	/*font-size: 110%;
	padding-right: 20px;*/
}
input, textarea {
	clear: both;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 2px;
	width: 100%;
}
select {
	clear: both;
	/*font-size: 120%;*/
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	/*font-size: 120%;*/
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}

/* Notices and Errors */
div.message {
	clear: both;
	color: #900;
	font-size: 140%;
	font-weight: bold;
	margin: 1em 0;
}
div.error-message {
	clear: both;
	color: #900;
	font-weight: bold;
}
p.error {
	background-color: #e32;
	color: #fff;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	background: green;
	color: #fff;
}

/*  Actions  */
.actions
{
	overflow: hidden;
	margin: 15px 0 15px 0;
}
div.actions ul {
	margin: 0px 0;
	padding: 0;
}
div.actions li {
	display: inline;
	list-style-type: none;
	line-height: 2em;
	margin: 0 2em 0 0;
	white-space: nowrap;
}
div.actions ul li a {
	border: 1px solid;
	font-weight: normal;
	background-repeat: repeat-x;
	background-position: top;
	/*padding-bottom: 1px;*/
	padding: 1px 5px;

	/*background:#fff;
	color: #003d4c;*/
	text-decoration: none;
	border-color: #abc3d7;
	background-color: #ecf1f4;
	color: #000;
	background-image: url('../img/bgBtn.gif');
	vertical-align: middle;
	font-size:80%;

}
div.actions ul li a:hover {
	border: 1px solid;
	color: #fff;
	background-image: none;
	cursor:pointer;
	font-weight: normal;

	/*color: #333;
	text-decoration: underline;*/

	background-color: #4e8ccf;
	border-color: #4e8ccf;

}
/*  Actions2  */
.actions2
{
	overflow: hidden;
	margin: 15px 0 15px 0;
}
div.actions2 ul {
	margin: 0px 0;
	padding: 0;
}
div.actions2 li {
	display: inline;
	list-style-type: none;
	line-height: 2em;
	margin: 0 2em 0 0;
	white-space: nowrap;
}
div.actions2 ul li a {
	border: 1px solid;
	font-weight: normal;
	background-repeat: repeat-x;
	background-position: top;
	/*padding-bottom: 1px;*/
	padding: 1px 5px;

	/*background:#fff;
	color: #003d4c;*/
	text-decoration: none;
	border-color: #abc3d7;
	background-color: #ecf1f4;
	color: #000;
	background-image: url('../img/bgBtn.gif');
	vertical-align: middle;
	font-size:80%;

}
div.actions2 ul li a.cl {
	border: 1px solid;
	font-weight: normal;
	background-repeat: repeat-x;
	background-position: top;
	/*padding-bottom: 1px;*/
	padding: 1px 5px;

	/*background:#fff;
	color: #003d4c;*/
	text-decoration: none;
	border-color: #abc3d7;
	background-color: darkorange;
	color: #000;
	background-image: url('../img/bgBtn.gif');
	vertical-align: middle;
	font-size:80%;

}

div.actions2 ul li a:hover {
	border: 1px solid;
	color: #fff;
	background-image: none;
	cursor:pointer;
	font-weight: normal;

	/*color: #333;
	text-decoration: underline;*/

	background-color: #4e8ccf;
	border-color: #4e8ccf;

}
/* Related */
div.related {
	clear: both;
	display: block;
}

/* Debugging */
pre {
	color: #000;
	background: #f0f0f0;
	padding: 1em;
}
pre.cake-debug {
	background: #ffcc00;
	font-size: 120%;
	line-height: 140%;
	margin-top: 1em;
	overflow: auto;
	position: relative;
}
div.cake-stack-trace {
	background: #fff;
	border: 4px dotted #ffcc00;
	color: #333;
	margin: 0px;
	padding: 6px;
	font-size: 120%;
	line-height: 140%;
	overflow: auto;
	position: relative;
}
div.cake-code-dump pre {
	position: relative;
	overflow: auto;
}
div.cake-stack-trace pre, div.cake-code-dump pre {
	color: #000;
	background-color: #F0F0F0;
	margin: 0px;
	padding: 1em;
	overflow: auto;
}
div.cake-code-dump pre, div.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
div.cake-code-dump span.code-highlight {
	background-color: #ff0;
	padding: 4px;
}
div.code-coverage-results div.code-line {
	padding-left:5px;
	display:block;
	margin-left:10px;
}
div.code-coverage-results div.uncovered span.content {
	background:#ecc;
}
div.code-coverage-results div.covered span.content {
	background:#cec;
}
div.code-coverage-results div.ignored span.content {
	color:#aaa;
}
div.code-coverage-results span.line-num {
	color:#666;
	display:block;
	float:left;
	width:20px;
	text-align:right;
	margin-right:5px;
}
div.code-coverage-results span.line-num strong {
	color:#666;
}
div.code-coverage-results div.start {
	border:1px solid #aaa;
	border-width:1px 1px 0px 1px;
	margin-top:30px;
	padding-top:5px;
}
div.code-coverage-results div.end {
	border:1px solid #aaa;
	border-width:0px 1px 1px 1px;
	margin-bottom:30px;
	padding-bottom:5px;
}
div.code-coverage-results div.realstart {
	margin-top:0px;
}
div.code-coverage-results p.note {
	color:#bbb;
	padding:5px;
	margin:5px 0 10px;
	font-size:10px;
}
div.code-coverage-results span.result-bad {
	color: #a00;
}
div.code-coverage-results span.result-ok {
	color: #fa0;
}
div.code-coverage-results span.result-good {
	color: #0a0;
}
/*Boton atras*/
.atras
{
	float: right;
	border: solid;
	background: #FFF;
	color: #000;
	margin-bottom: 2px;
	text-decoration: none;
	border-radius: 7px;
	padding: 5px;
	text-shadow: 1px 1px 1px;
	display: none;
}

/*Para autocompletar
.ui-helper-hidden-accessible
{
	display: none !important;
}
.ui-corner-all
{
	width: 150px !important;
	background-color: #4E8CCF !important;
	color: #FFFFFF !important;
	text-shadow:1px 1px 2px #808080 !important;
	cursor: pointer !important;
	text-decoration: none !important;
	white-space: pre-line !important;
}
.ui-corner-all a:hover
{
	width: 150px !important;
	background-color: #FFFFFF !important;
	color: #9D0000!important;
	text-shadow:1px 1px 2px #808080 !important;
	cursor: pointer !important;
	/*text-decoration: !important;
}
.ui-menu-item
{
	margin-bottom: 5px !important;
	border-bottom: solid 1px #FF8080 !important;
}


.ui-datepicker-next{
	margin-left: 112px;
}
.ui-datepicker-title{
	width: 110px;
	position: relative;
	top: -10px;
	left: 22px;
}
*/
.valortabla{
	text-align: center;
}
.money{text-align: right!important;}

.texto_izquierda
{
	text-align: left;
}
.width_50
{
	width: 50%;
}
.signoMoneda
{
	float: left;
}

/*Borde Rojo para los elementos requeridos*/
input:required:invalid, select:required:invalid, textarea:required:invalid
{
	background: #fff url(../img/test-fail-icon.png) no-repeat 98% center;
	border:1px solid red;
}
input:required:valid, select:required:valid, textarea:required:valid
{
	background: #fff url(../img/test-pass-icon.png) no-repeat 98% center;
	border: 1px solid green;
}
select:required:valid, select:required:invalid
{
	background-position: 89% center;
	box-sizing: border-box;
	padding-right: 20px;
}
/*Estilos para message flash en view*/
.view .message{
	color: #00ff6c;
	font-size: 2.5em;
}
.celda {
	display: inline-block;
	margin-right: 5%;
}
.cerrada:before{
	font-family: 'icomoon';
	content: "\e98f";
	font-size: 16px;
	text-align: center;
}
.facturada:before{
	font-family: 'icomoon';
	content: '\e92d';
	font-size: 16px;
	text-align: center;
}
.anula:before{
	font-family: 'icomoon';
	content: '\ea0e';
	font-size: 16px;
	text-align: center;
}.deleteDet:before{
	 font-family: 'icomoon';
	 content:'\e901';
 }
.barcode{
	border: solid 1px;
	padding: 0.5em;
	display: block;
	width: 350px;
	text-align: center;
	font-family: barcode;
	font-size: 4em;
}
.barcode2{
	padding: 1px;
	text-align: center;
	font-family: barcode;
	font-size: 4.5em;
	margin: 1px 0px 1px 5px;
}
.cod{
	text-align: center;
	font-size: 10px;
}
.linea{
	border-right: hidden !important;
}
.data:before{
	font-family: 'icomoon';
	content: '\e964';
	color:#fff;
}
.btn1:before{
	font-family: 'icomoon';
	content: "\e904";
	color:#fff;
	font-size: 22px;
}
.btn1{
	background: #5CC1DF;
	border-color: #5CC1DF;
	border-bottom:#5CC1DF;
	border-right: #5CC1DF;
	width: 170px;
	height: 45px;
	color:#fff;
	font-size: 16px;
	border-radius: 4px;
}
.btn2:before{
	font-family: 'icomoon';
	content: "\e904";
	color:#fff;
	font-size: 22px;
}
.btn2{
	background: #347EBD;
	border-color: #347EBD;
	border-bottom:#347EBD;
	border-right: #347EBD;
	width: 170px;
	height: 45px;
	color:#fff;
	font-size: 16px;
	border-radius: 4px;
}
.plus:before{
	font-family: 'icomoon';
	content: '\e906';
	color: #4160A3;
	font-size: 16px;
	margin-right: 5px;
}
.imprimir{
	background-color: #4160a3 !important;
	color: #FFFFff !important;
	padding: 0 3px !important;
	height: 21px !important;
	border-radius: 3px !important;
}
a.imprimir:hover{
	background-color: #4160a3 !important;
	color: #FFFFff !important;
}
.soporte{
	background-color: #df1c1e !important;
	color: #FFFFff !important;
	padding: 0 3px !important;
	height: 21px !important;
	border-radius: 3px !important;
}
a.soporte:hover{
	background-color: #4160a3 !important;
	color: #FFFFff !important;
}
.restore-pass:before {
	font-family: 'icomoon';
	content: "\e98e";
}
.restore-pass{
	text-decoration: none;
}
.fotoJugador{
	width: 210px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.fotoEscudo{
	width: 110px;
	margin-top: 10px;
	margin-bottom: 10px;
	/*margin-left: 15px;*/
}
.btn-file{
	margin-left: 0;
}
.seccion1{
	margin-left: 15px;
}
.head-juegos{
	background: #4160a3;
	border-radius: 5px 5px 0 0;
	color: #fff;
	text-align: center;
}
.equipo1{
	font-size: 18px;
}
.escudo1{
	width: 50px;
	margin-right: 20px;
}
.escudo2{
	width: 50px;
	margin-left: 20px;
}
.marcador{
	font-size: 21px;
	font-weight: bold;
}
.borde1{
	border: solid 1px #c0c0c0;
}
.borde2{
	border-right: solid 1px #c0c0c0;
	border-left: solid 1px #c0c0c0;
}
.interlineado{
	background: #ebebeb;
}
.line-frm{
	padding: 14px 0 14px 0;
}
