@import url("https://fonts.googleapis.com/css?family=Roboto");
.title-index {
  margin-top: 10px;
  color: #cb071a;
  font-size: 2em; }

.title-view {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 0.45em; }
  .title-view .title-view__title {
    margin-right: 20px; }
  .title-view .title-view__buttons {
    margin-left: auto; }
  .title-view + .transitions {
    min-height: 30px; }

.text-red {
  color: #cb071a; }

.title-graf {
  font-size: 16px;
  color: #011880;
  font-weight: bold;
  margin-bottom: 3px; }

.icon-32 {
  width: 32px; }

.icon-64 {
  width: 64px; }

body {
  position: relative; }

hr {
  margin: 10px 0;
  border-bottom: solid 2px #011880; }

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif; }

a {
  color: #1b63d2; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 800;
  color: #011880; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1em; }

.primary-text {
  color: #011880; }

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin: 10px 0;
  min-width: 100px;
  width: auto;
  height: 25px;
  border: none;
  text-decoration: none;
  border-radius: 0; }
  .btn + .btn {
    margin-left: 5px; }

.btn-sm {
  padding: 5px 20px; }

.btn-xs {
  padding: 2px 15px; }

.btn-lg {
  height: 40px; }

.btn-menu {
  background-color: #006DB8;
  font-weight: bold;
  border-radius: 3px;
  color: #fff;
  padding: 8px 12px 28px;
  margin-bottom: 0; }

.btn-menu:hover {
  background-color: #2A93FC;
  color: #fff; }

.btn-menu:active:before {
  background-color: #2A93FC;
  color: #fff; }

.btn-primary {
  background-color: #011880; }

.btn-default {
  /*background-color: $gray-color;*/
  /**NEW*/
  font-family: 'Calibri', sans-serif;
  margin-left: 15px;
  padding: 0 5px 0 5px;
  background-color: #c0c0c0;
  border: 1px solid #606060;
  font-size: 14px;
  color: #000;
  border-radius: 1px; }

.btn-transition {
  font-size: 16px;
  font-weight: 800; }

.actions {
  display: inline-block; }
  .actions div {
    display: inline-block; }
    .actions div a {
      padding: 0 5px 0 5px;
      text-decoration: none; }

#login {
  display: flex;
  align-items: center;
  width: 450px;
  height: 100%;
  margin: auto; }
  #login .login-form {
    position: relative;
    padding: 20px;
    border: solid 1px #011880;
    box-shadow: 5px 5px 10px 0px #011880; }
    #login .login-form .logo {
      margin: auto;
      width: 180px; }
    #login .login-form #UserLoginForm {
      float: none;
      margin: 15px auto;
      width: 230px; }
      #login .login-form #UserLoginForm input {
        margin-top: 20px; }
      #login .login-form #UserLoginForm .ssl-logos {
        margin: 20px 0; }
        #login .login-form #UserLoginForm .ssl-logos div {
          float: left;
          clear: none;
          width: 40%; }
          #login .login-form #UserLoginForm .ssl-logos div:last-child {
            float: right; }
    #login .login-form .form-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 15px;
      width: 100%;
      background-image: url("../img/footer.png");
      background-size: 100%; }
  #login .login-links {
    margin-top: 10px; }
    #login .login-links a {
      color: #101010;
      font-size: 11px; }

.form-group {
  width: 700px; }

.form-groupp {
  width: 100%; }
  .form-groupp label {
    display: inline-block; }
  .form-groupp .form-control {
    display: inline-block; }

.form-control {
  height: 25px;
  border-radius: 0;
  border: solid 1px #4160a3; }

.help-block {
  margin: 0;
  color: #011880; }

select.form-control {
  padding-top: 0;
  padding-bottom: 0; }

.form {
  width: 100%;
  margin-bottom: 15px; }
  .form form fieldset {
    width: 80%;
    margin-top: 15px;
    padding: 15px 15px 15px 15px;
    border: 1px solid #cb071a;
    color: #011880; }
    .form form fieldset div label {
      padding-top: 2px;
      color: #011880; }
    .form form fieldset legend {
      color: #cb071a;
      font-size: 1.4em;
      font-weight: bold; }

@media screen and (max-width: 520px) {
  #login {
    padding: 0;
    width: 100%; }
    #login .login-container {
      padding: 10px; }
      #login .login-container .login-form {
        padding: 10px;
        padding-bottom: 20px; }
        #login .login-container .login-form #UserLoginForm {
          width: 100%; }
          #login .login-container .login-form #UserLoginForm .ssl-logos {
            margin: 20px auto;
            width: 50%; } }
table tbody td {
  font-size: 14px !important; }
  table tbody td .btn {
    margin: 0; }

.table thead {
  background-color: #4160a3; }
  .table thead th {
    color: #ffffff;
    font-size: 13px; }
    .table thead th a {
      color: #ffffff;
      text-decoration: none;
      font-size: 13px; }
.table tbody tr td {
  text-align: center; }
.table tbody tr .text-left {
  text-align: left; }

.table-left thead tr th {
  text-align: left; }
.table-left tbody tr td {
  text-align: left; }
.table-left tbody tr th {
  text-align: left; }

.table-striped-primary tbody tr {
  background-color: #ffffff; }
  .table-striped-primary tbody tr:nth-of-type(odd) {
    background-color: rgba(65, 96, 163, 0.2); }

.bordered {
  border: solid 1px #101010; }

.table-accordion .plus-td {
  cursor: pointer; }
  .table-accordion .plus-td .icon {
    display: block;
    float: left;
    margin-right: 8px;
    padding-top: 3px;
    color: #011880;
    font-size: 1em; }
.table-accordion .table-accordion-item .table-accordion-child {
  padding: 0 5px;
  background-color: #ebebeb;
  border: none; }
  .table-accordion .table-accordion-item .table-accordion-child table {
    margin-bottom: 0;
    width: 100%;
    border: solid 1px #e4e4e4; }
    .table-accordion .table-accordion-item .table-accordion-child table thead th {
      font-weight: 800;
      background-color: #011880;
      border: solid 1px #e4e4e4; }
    .table-accordion .table-accordion-item .table-accordion-child table tbody tr {
      background-color: white; }
      .table-accordion .table-accordion-item .table-accordion-child table tbody tr:nth-child(3n) {
        background-color: #f2f2f2; }
      .table-accordion .table-accordion-item .table-accordion-child table tbody tr td {
        border: solid 1px #e4e4e4; }
        .table-accordion .table-accordion-item .table-accordion-child table tbody tr td span::after {
          display: none; }
      .table-accordion .table-accordion-item .table-accordion-child table tbody tr .select {
        padding-left: 5px;
        border-right: none; }
        .table-accordion .table-accordion-item .table-accordion-child table tbody tr .select + td {
          border-left: none; }
      .table-accordion .table-accordion-item .table-accordion-child table tbody tr .plus-td .icon {
        color: #929292; }
  .table-accordion .table-accordion-item .table-accordion-child .table-accordion-child-options {
    margin-top: 5px;
    padding: 10px;
    background-color: #ebebeb;
    border: solid 1px #aaaaaa; }
    .table-accordion .table-accordion-item .table-accordion-child .table-accordion-child-options div {
      padding: 10px;
      background-color: gainsboro;
      border: solid 1px #c8c8c8;
      border-radius: 5px; }
      .table-accordion .table-accordion-item .table-accordion-child .table-accordion-child-options div .btn {
        margin-right: 10px;
        background-color: #aaaaaa; }
        .table-accordion .table-accordion-item .table-accordion-child .table-accordion-child-options div .btn .icon {
          color: #e6e6e6; }
  .table-accordion .table-accordion-item .table-accordion-child .create-box {
    margin-top: 5px;
    background-color: #ebebeb;
    border: solid 1px #aaaaaa; }
    .table-accordion .table-accordion-item .table-accordion-child .create-box table thead th {
      background-color: gainsboro;
      text-align: left; }
      .table-accordion .table-accordion-item .table-accordion-child .create-box table thead th:last-child {
        border-left: solid 1px #cccccc; }
    .table-accordion .table-accordion-item .table-accordion-child .create-box table tbody tr {
      border: none; }
      .table-accordion .table-accordion-item .table-accordion-child .create-box table tbody tr td {
        border: none; }
      .table-accordion .table-accordion-item .table-accordion-child .create-box table tbody tr .activo {
        border-right: solid 1px #cccccc; }

.table-position tbody {
  border: none !important;
  background: #FFFFFF; }

.table-position thead tr th {
  padding: 12px 2px 12px 2px;
  font-size: 14px !important; }

.table-position tbody tr td {
  height: 50px;
  vertical-align: middle !important;
  background: #f4f4f4;
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  font-size: 14px !important;
  border-collapse: collapse;
  color: #3d3d3d !important; }

.lbl-equipo {
  text-decoration: none;
  color: #3d3d3d;
  font-weight: bold;
  font-size: 14px; }

.colum-num {
  font-weight: bold;
  font-size: 15px; }

.paginate-count {
  font-size: 14px !important; }

.badge {
  padding: 5px;
  width: 100px;
  border-radius: 0; }

.searchBox table tbody td {
  padding: 0 10px; }

.panel .panel-heading .panel-title {
  padding: 0; }
  .panel .panel-heading .panel-title a {
    display: block;
    font-size: 1em;
    text-decoration: none; }
.panel .panel-body {
  padding: 0; }
  .panel .panel-body .container-fluid {
    padding: 20px; }
  .panel .panel-body .file a {
    padding: 20px; }

.panel-primary > .panel-heading {
  background-color: #0c59cf; }

.panel-default > .panel-heading {
  background-color: #e6e6e6; }

.panel-borderless {
  border: none;
  box-shadow: none; }

.panel-group {
  margin-bottom: 0; }
  .panel-group .panel {
    box-shadow: none;
    border: none; }
    .panel-group .panel .panel-heading {
      padding: 0;
      background-color: #eaf1fe;
      border-bottom: solid 1px #0c59cf; }
      .panel-group .panel .panel-heading .panel-title a {
        position: relative;
        padding: 20px 10px; }
        .panel-group .panel .panel-heading .panel-title a:not(.no-caret)::after {
          content: '\f107';
          position: absolute;
          right: 30px;
          font-family: "FontAwesome";
          font-size: 20px;
          color: #0c59cf; }
        .panel-group .panel .panel-heading .panel-title a .stage-title {
          width: 100px;
          display: inline-block; }
        .panel-group .panel .panel-heading .panel-title a .stage-date {
          color: #0c59cf;
          font-size: 1em;
          margin-left: 20px; }
        .panel-group .panel .panel-heading .panel-title a .comment-date {
          display: inline-block;
          margin: 0 20px;
          color: #757678; }
        .panel-group .panel .panel-heading .panel-title a .comment-title {
          color: #444444; }
    .panel-group .panel .panel-heading-small .panel-title a {
      padding: 5px 10px; }
    .panel-group .panel .panel-collapse .panel-body {
      width: 98%;
      margin-left: 1%;
      border: none;
      border-left: solid 1px #0c59cf;
      border-right: solid 1px #0c59cf; }
      .panel-group .panel .panel-collapse .panel-body .container-fluid {
        padding: 40px; }
    .panel-group .panel .panel-collapse:last-child .panel-body {
      border-bottom: solid 1px #0c59cf; }
    .panel-group .panel + .panel {
      margin-top: 0; }
    .panel-group .panel:nth-child(2n) .panel-heading {
      background-color: #F7F6F6; }

.panel-badged .panel-heading {
  background-color: transparent;
  border: none;
  margin-top: -20px; }

#cont_btn {
  background-color: #eaf1fe;
  border-bottom: solid 1px #0c59cf;
  border-radius: 0; }

.marg-panel {
  margin-left: 18px; }

.nav-pills li {
  margin-right: 10px;
  background-color: #006DB8;
  border-radius: 4px; }
  .nav-pills li a {
    color: #fff;
    font-weight: bold;
    font-size: 14px; }

.nav-pills li a:hover {
  background-color: #2A93FC;
  cursor: pointer; }

/* .nav-pills li a:active:hover {
    background-color: #fff;
}*/
.activa {
  background-color: #2A93FC !important; }

.datepicker {
  float: left;
  width: 75%; }
  .datepicker + .btn {
    float: left;
    margin: 0;
    width: 20%;
    max-width: 20%;
    min-width: 20%;
    height: 25px;
    background: #ffffff; }
  .datepicker::after {
    content: "\f073";
    font-family: "FontAwesome"; }

.child {
  width: 96%;
  border: solid 1px #2A93FC;
  margin-bottom: 8px;
  border-radius: 2px; }

.lblproy {
  color: #014c8c; }

.line-space {
  margin-top: 15px; }

header .logo {
  display: inline-block;
  font-size: 22px;
  color: #cb071a;
  text-decoration: none;
  font-weight: 600; }
  header .logo img {
    width: 110px; }
  header .logo span {
    display: inline-block;
    padding-bottom: 10px;
    vertical-align: bottom; }

.header-system {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: solid 1px #011880;
  border-bottom: solid 3px #011880;
  margin-top: 15px;
  padding-bottom: 10px; }

#datos {
  margin-top: 20px;
  margin-left: auto; }
  #datos span {
    color: #011880;
    font-size: 14px; }
  #datos span.system-name {
    font-size: 24px;
    font-weight: bold;
    color: #011880; }
  #datos ul li {
    display: inline-block; }
    #datos ul li a {
      padding: 5px 0;
      font-size: 14px; }
    #datos ul li b {
      font-size: 14px; }

#menu {
  display: block;
  border: solid 3px #4160a3;
  border-left: none;
  border-right: solid 1px #011880; }
  #menu ul {
    margin: 0;
    padding: 0; }
    #menu ul li {
      position: relative;
      float: left;
      display: inline-block;
      border-right: solid 1px #4160a3; }
      #menu ul li a {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        font-size: 13px !important; }
      #menu ul li .submenu {
        display: none;
        position: absolute;
        margin: 0;
        padding: 0;
        background-color: #4160a3;
        width: 200px;
        z-index: 999; }
        #menu ul li .submenu li {
          width: 100%;
          border: none; }
          #menu ul li .submenu li a {
            width: 100%;
            color: #ffffff;
            font-size: 13px !important; }
            #menu ul li .submenu li a:hover {
              background-color: #ffffff;
              color: #4160a3; }
      #menu ul li:hover {
        background-color: #4160a3; }
        #menu ul li:hover a {
          color: #ffffff; }
        #menu ul li:hover .submenu {
          display: block; }
      #menu ul li:first-child {
        border-left: solid 1px #011880; }

#denuncia-information {
  color: #011880; }

footer {
  margin-top: 150px;
  clear: both;
  padding-top: 45px;
  padding-bottom: 10px;
  background-repeat: no-repeat;
  background-image: url("../img/footer.png");
  background-size: 100% 15px;
  color: #3f458c; }
  footer .ssl-logos img {
    display: inline-block;
    clear: none;
    width: 34px; }

.index p {
  font-size: 13px; }
