@charset "UTF-8";
.privilegios #alerta {
    position: fixed;
    top: 10px;
    left: 10%;
    width: 80%;
    z-index: 999; }
.privilegios #search-box {
    margin-bottom: 0; }
.privilegios #vertodos {
    margin-bottom: 20px; }
.privilegios #addPrivilegio table td.select {
    width: 50%; }
.privilegios #perfiles-container {
    padding: 10px;
    min-height: 400px;
    border: solid 1px #101010;
    line-height:0.8em;}
.privilegios #perfiles-container .perfiles-heading {
    padding: 10px 20px;
    background-color: #011884;
    border: solid 1px #101010; }
.privilegios #perfiles-container .perfiles-heading h4 {
    margin: 0;
    color: #FFF; }
.privilegios #perfiles-container .perfiles .perfil {
    padding: 10px 20px;
    border: solid 1px #ccc;
    border-top-width: 0;
    cursor: pointer; }
.privilegios #perfiles-container .perfiles .active {
    background-color: #fefac0;
    border:1px solid #011880;
    font-weight: 800; }
.privilegios #privilegios {
    position: relative; }
.privilegios #privilegios .loading-overlay {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(254, 254, 252, 0.5);
    z-index: 999; }
.privilegios #privilegios .loading-overlay::before {
    content: "";
    font-family: "icomoon";
    font-size: 25px;
    -webkit-animation-name: load;
    animation-name: load;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }
.privilegios #privilegios .load {
    padding: 10px;
    border: solid 1px #101010; }
.privilegios #privilegios #modulos {
    width: 100%;
    margin-bottom: 0; }
.privilegios #privilegios #modulos thead {
    background-color: #011884;
}
.privilegios #privilegios #modulos thead tr th {
    padding: 10px;
    border: solid 1px #cccccc;
   line-height:  0.4em;
}
.privilegios #privilegios #modulos thead tr .herramienta {
    text-align: left;
    width: 35%; }
.privilegios #privilegios #modulos thead tr .activo {
    width: 10%; }
.privilegios #privilegios #modulos thead tr .view {
    width: 10%; }
.privilegios #privilegios #modulos thead tr .add {
    width: 10%; }
.privilegios #privilegios #modulos thead tr .edit {
    width: 10%; }
.privilegios #privilegios #modulos thead tr .borrar {
    width: 10%; }
.privilegios #privilegios #modulos thead tr .accion {
    width: 15%; }
.privilegios #privilegios #modulos tbody tr td {
    border: solid 1px #cccccc; }
.privilegios #privilegios #modulos tbody .modulo,
.privilegios #privilegios #modulos tbody .ubicacion {
    font-weight: 800; }
.privilegios #privilegios #modulos tbody .modulo {
    cursor: pointer; }
.privilegios #privilegios #modulos tbody .modulo td {
    background-color: #e8dca8;
    padding-left: 20px;
    line-height: 0.4em;}
.privilegios #privilegios #modulos tbody .ubicacion td {
    background-color: #ebe8d1;
line-height: 0.3em;}
.privilegios #privilegios #modulos tbody .ubicacion td:first-child {
    padding-left: 45px;
    text-align: left; }
.privilegios #privilegios #modulos tbody .recurso td {
    line-height: 0;
    height: 20px;
    padding: 0; }
.privilegios #privilegios #modulos tbody .recurso td .edit-info {
    line-height: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s; }
.privilegios #privilegios #modulos tbody .recurso td.edit-detrecursos {
    cursor: pointer; }
.privilegios #privilegios #modulos tbody .recurso td input {
    display: none; }
.privilegios #privilegios #modulos tbody .recurso td input + label {
    font-size: 20px;
    cursor: pointer; }
.privilegios #privilegios #modulos tbody .recurso td input + label::before {
    content: "";
    font-family: "icomoon";
    color: #c62828;
}
.privilegios #privilegios #modulos tbody .recurso td input:disabled + label::before {
    color: #ff8c8c;
    cursor: not-allowed; }
.privilegios #privilegios #modulos tbody .recurso td input:checked:disabled {
    color: #d6ffb7; }
.privilegios #privilegios #modulos tbody .recurso td input:checked:disabled + label::before {
    color: #a4ed85; }
.privilegios #privilegios #modulos tbody .recurso td input:checked + label::before {
    content: "";
    font-family: "icomoon";
    color: #72bb53; }
.privilegios #privilegios #modulos tbody .recurso td:first-child {
    padding-left: 60px;
    text-align: left;
}
.privilegios #privilegios #modulos tbody .recurso .accion {
    position: relative; }
.privilegios #privilegios #modulos tbody .recurso .accion .actions-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: 15%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    width: 70%; }
.privilegios #privilegios #modulos tbody .recurso .accion .actions-container .icon {
    float: left;
    margin-right: 5px;
    font-size: 15px;
    color: #819FF7;
    cursor: pointer; }
.privilegios #privilegios #modulos tbody .recurso .accion .actions-container > .icon:last-child {
    margin-right: 0; }
.privilegios #privilegios #modulos tbody .recurso .accion .actions-container .row-actions,
.privilegios #privilegios #modulos tbody .recurso .accion .actions-container .edit-actions {
    height: 0; }
.privilegios #privilegios #modulos tbody .recurso .accion .actions-container a {
    color: #7ecdeb; }
.privilegios #privilegios #modulos tbody .recurso.active td {
    background-color: #7ecdeb;
    line-height: 0.4em;
}
.privilegios #privilegios #modulos tbody .recurso.active td .edit-info {
    opacity: 0; }
.privilegios #privilegios #modulos .detrecursos td {
    padding: 0; }
.privilegios #privilegios #modulos .detrecursos td .table-striped {
    margin-bottom: 0; }
.privilegios #privilegios #modulos .detrecursos td .table-striped thead tr th {
    padding: 0;
    background-color: #d6d6d6; }
.privilegios #privilegios #modulos .detrecursos td .table-striped thead tr .permitir {
    width: 30%; }
.privilegios #privilegios #modulos .detrecursos td .table-striped tbody tr {
    background-color: #f2f2f2; }
.privilegios #privilegios #modulos .detrecursos td .table-striped tbody tr:nth-of-type(odd) {
    background-color: #FEFEFC; }

@-webkit-keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }

@keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); } }

/*# sourceMappingURL=privilegios.css.map */