/**
  * Author: Manuel Anzora
  * created: 28-03-2019
  * Hoja de estilo por defecto, para pantallas publicas
*****/
.content-posiciones{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.content-posiciones .content-title{
    padding: 12px;
    background: #F7622B;
    color: #FFFFff;
    font-weight: bold;
}
.content-posiciones .content-tab{
    padding: 0;
}

.content-posiciones .content-tab .table-posiciones thead tr th{
    background: #272727;
    color: #FFFFff;
    font-weight: bold;
    font-size: 12px;
}
.content-posiciones .content-tab .table-posiciones tbody tr td .logoEq{
    width: 20px;
    height: 20px;
}
.lbl-proximos{
    font-size: 13px;
}
.colum-paddin-0{
    padding-top: 0 !important;
}
.colum-paddin-butto-0{
    padding-bottom: 0!important;
}
.border-no{
    border-top: none !important;
}
.btn-redirec{
    background: #555;
    border-color: #FFFFff;
    padding: 6px;
    border-radius: 5px;
}
.btn-redirec:active{
    background-color: #6F6C6C;
    border-color: #FFFFff;
    color: #FFFFff;
}
.btn-redirec:active:before{
    background-color: #6F6C6C;
    border-color: #FFFFff;
    color: #FFFFff;
}
.btn-redirec:focus{
    background-color: #6F6C6C;
    border-color: #FFFFff;
    color: #FFFFff;
}
.btn-redirec:hover{
    background-color: #6F6C6C;
    border-color: #FFFFff;
    color: #FFFFff;
}
.btn-redirec:active:focus{
    background-color: #6F6C6C;
    border-color: #FFFFff;
    color: #FFFFff;
}
.seccion-btn{
    margin-top: 15px;
}