<div class="facturas view">
<!-- <h1><center><b><?php  __('FACTURA AUDIOMED');?></b></center></h1>
 -->
<br><br><br><br><br>
<table cellpadding = "0" cellspacing = "0">
<tr>
  <td>
	<?php echo $factura['Factura']['anombrede']; ?>
  </td>
   <td>&nbsp;</td>
   <td>&nbsp;</td>
  <td>
	<?php echo date('d/m/Y', strtotime($factura['Factura']['fechadocto'])); ?><br>
  </td>
</table>

</div>

<br><br><br><br><br><br><br>


	<?php if (!empty($factura['Detfactura'])):?>
	<table cellpadding = "0" cellspacing = "0">
	<?php
		$i = 0;
		$vcantidad = 0; 
		$vsubtotal = 0; 
		$vdescuento = 0; 
		$vtotal = 0;
		$vtotafilas = 0;
		foreach ($factura['Detfactura'] as $detfac):
			$vtotafilas = $vtotafilas + 1;
		?>
		<tr>
			<!-- <td><?php echo $detmovimiento['Productos']['producto'];?></td>  -->
			<td><?php echo $detfac['cantidad'];?></td>
			<td><?php echo $servicios[$detfac['servicio_id']];?><br><?php echo $detfac['detalle'];?></td>			
			
			<td>$&nbsp;<?php 
					if ($factura['Tipofactura']['id'] == 2) {
						echo number_format($detfac['valorunitario'],2);
					}
					else {
						echo number_format($detfac['valorsinimp'],2);
					}
				?>
			</td>
			<td>&nbsp;<td>
			<td>$&nbsp;<?php echo number_format($detfac['total'],2);?></td>
		</tr>
		<?php
		$vcantidad = $vcantidad + $detfac['cantidad'];
		//$vsubtotal = $vsubtotal + $detfac['subtotal'];
		//$vdescuento = $vdescuento + $detfac['descuento'];
		if ($factura['Tipofactura']['id'] == 2) 
			$vtotal = $vtotal + ($detfac['cantidad']*$detfac['valorunitario']);
		else
			$vtotal = $vtotal + ($detfac['cantidad']*$detfac['valorsinimp']);
		?>
	<?php endforeach; ?>
	
	<?php for ($i=0; $i<14-$vtotafilas; $i++) : ?>
		<tr>
		<td>&nbsp;</td> 
		<td><b>&nbsp;</b></td>
		<td><b>&nbsp;</b></td>
		<td><b>&nbsp;</b></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		</tr>

	<?php
	endfor; 
	?>


	<tr>
		<td>&nbsp;</td> 
		<td><b><?php echo $numeroletras;?></b></td>
		<td><b>&nbsp;</b></td>
		<td><b>&nbsp;</b></td>
		<td>&nbsp;</td>
		<td><b>$&nbsp;<?php echo number_format($vtotal,2);?>
				<br><br><br><br><br>
			   $&nbsp;<?php echo number_format($vtotal,2); ?></b>
		</td>
	</b></tr>
	</table>

	<!-- <?php echo number_format($factura['Factura']['subtotal'],2); ?>
	<?php echo number_format($factura['Factura']['impuesto'],2); ?>
	<?php echo number_format($factura['Factura']['retencion'],2); ?> -->
	
<?php endif; ?>


