<div class="col-xs-12 listado">
    <?php
    $real_url2 = 'http://'.$_SERVER['HTTP_HOST'].$this->request->base.'/'.$this->params->controller.'/';
    $cont = 1;
    $name = "";
    foreach($adjuntos as $rw) { ?>
        <?php 
        $shortName = (strlen($rw['name']) > 16)
            ? substr($rw['name'],0,12)."..."
            : $rw['name']
        ?>
        <div class="col-xs-6 file" title="<?= $rw['name'] ?>">
            <a target='_blank' href='<?=$real_url2;?>download/<?=$rw['datablog_id'];?>'>
                <img src='../../img/img_adj.png' class='img'>
            </a>
            <label>
                <a class="link_adj" target="_blank" href="<?= $real_url2 ?>download/<?= $rw['datablog_id'] ?>"><?= $shortName ?></a>
            </label>
            <label style="color:#0c59cf;font-size: 13px;"><?=$rw['fecha']?></label>
        </div>
        <?php
            if($cont % 2 == 0) {
        ?>
                <div class="clearfix"></div>
        <?php
            }
            $cont++
        ?>
    <?php } ?>
</div>