.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
	margin: 10px 0;
	min-width: 100px;
	width: auto;
	height: 25px;
	border: none;
	text-decoration: none;
	border-radius: 0;
	+ .btn {
		margin-left: 5px;
	}
}

.btn-sm {
	padding: 5px 20px;
}

.btn-xs {
	padding: 2px 15px;
}

.btn-lg {
	height: 40px;
}
.btn-menu {
	background-color: #006DB8;
	font-weight: bold;
	border-radius: 3px;
	color:#fff;
	padding: 8px 12px 28px;
	margin-bottom: 0;
}

.btn-menu:hover {
	background-color: #2A93FC;
	color: #fff;
}
.btn-menu:active:before {
	background-color: #2A93FC;
	color: #fff;
}

.btn-primary {
	background-color: $main-color;
}

.btn-default {
	/*background-color: $gray-color;*/
	/**NEW*/
	font-family: 'Calibri', sans-serif;
	margin-left: 15px;
	padding: 0 5px 0 5px;
	background-color: $color-botton ;
	border:1px solid #606060 ;
	font-size: 14px;
	color: #000;
	border-radius: 1px;
}

.btn-transition {
	font-size: 16px;
	font-weight: 800;
}

.actions{
	display: inline-block;
	div {
		display: inline-block;
		a{
			padding: 0 5px 0 5px;
			text-decoration:none;
		}
	}
}

