.datepicker {
    float: left;
    width: 75%;
    +  .btn {
        float: left;
        margin: 0;
        width: 20%;
        max-width: 20%;
        min-width: 20%;
        height: 25px;
        background: $light-color;
    }
    &::after {
        content: "\f073";
        font-family: "FontAwesome";
    }
}
