#login {
	display: flex;
	align-items: center;
	width: 450px;
	height: 100%;
	margin: auto;
	.login-form {
		position: relative;
		padding: 20px;
		border: solid 1px $main-color;
		box-shadow: 5px 5px 10px 0px $main-color;
		.logo {
			margin: auto;
			width: 180px;
		}
		#UserLoginForm {
			float: none;
			margin: 15px auto;
			width: 230px;
			input {
				margin-top: 20px;
			}
			.ssl-logos {
				margin: 20px 0;
				div {
					float: left;
					clear: none;
					width: 40%;
					&:last-child {
						float: right;
					}
				}
			}
		}
		.form-footer {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 15px;
			width: 100%;
			background-image: url("../img/footer.png");
			background-size: 100%;
		}
	}
	.login-links {
		margin-top: 10px;
		a {
			color: #101010;
			font-size: 11px;
		}
	}
}

.form-group {
	width:700px;
}

.form-groupp {
	width: 100%;
	label {
		display: inline-block;
	}
	.form-control {
		display: inline-block;
	}
}


.form-control {
	height: 25px;
	border-radius: 0;
	border: solid 1px $main-light;
}

.help-block {
	margin: 0;
	color: $main-color;
}

select.form-control {
	padding-top: 0;
	padding-bottom: 0;
}

.form {
	width: 100%;
	margin-bottom: 15px;
	form fieldset {
		width: 80%;
		margin-top: 15px;
		padding: 15px 15px 15px 15px;
		border:1px solid #cb071a;
		color: #011880;
		div label {
			padding-top: 2px;
			color: #011880;
		}
		legend {
			color: #cb071a;
			font-size: 1.4em;
			font-weight: bold;
		}
	}
}

@media screen and (max-width: 520px) {
	#login {
		padding: 0;
		width: 100%;
		.login-container {
			padding: 10px;
			.login-form {
				padding: 10px;
				padding-bottom: 20px;
				#UserLoginForm {
					width: 100%;
					.ssl-logos {
						margin: 20px auto;
						width: 50%;
					}
				}
			}
		}
	}
}