table {
	tbody {
		td {
			.btn {
				margin: 0;
			}
          font-size: 14px !important;
		}
	}
}

.table {
	thead {
		background-color: $main-light;
		th {
			color: $light-color;
            font-size: 13px;
			a {
				color: $light-color;
				text-decoration: none;
                font-size: 13px;
			}
		}
	}
	tbody {
		tr {
			td {
				text-align: center;
			}
			.text-left {
				text-align: left;
			}
		}
	}
}

.table-left {
	thead {
		tr {
			th {
				text-align: left;
			}
		}
	}
	tbody {
		tr {
			td {
				text-align: left;
			}
			th {
				text-align: left;
			}
		}
	}
}

.table-striped-primary {
	tbody {
		tr {
			background-color: $light-color;
			&:nth-of-type(odd) {
				background-color: transparentize($main-light, 0.8);
			}
		}
	}
}

.bordered {
	border: solid 1px $dark-color;
}

.table-accordion {
  .plus-td {
    cursor: pointer;
    .icon {
      display: block;
      float: left;
      margin-right: 8px;
      padding-top: 3px;
      color: $main-color;
      font-size: 1em;
    }
  }
  .table-accordion-item {
    .table-accordion-child {
      padding: 0 5px;
      background-color: #ebebeb;
      border: none;
      table {
        margin-bottom: 0;
        width: 100%;
        border: solid 1px #e4e4e4;
        thead {
          th {
            font-weight: 800;
            background-color: $main-color;
            border: solid 1px #e4e4e4;
          }
        }
        tbody {
          tr {
            background-color: white;
            &:nth-child(3n) {
              background-color: #f2f2f2;
            }
            td {
              border: solid 1px #e4e4e4;
              span {
                &::after {
                  display: none;
                }
              }
            }
            .select {
              padding-left: 5px;
              border-right: none;
              + td {
                border-left: none;
              }
            }
            .plus-td {
              .icon {
                color: #929292;
              }
            }
          }
        }
      }
      .table-accordion-child-options {
        margin-top: 5px;
        padding: 10px;
        background-color: #ebebeb;
        border: solid 1px #aaaaaa;
        div {
          padding: 10px;
          background-color: gainsboro;
          border: solid 1px gainsboro - 20;
          border-radius: 5px;
          .btn {
            margin-right: 10px;
            background-color: #aaaaaa;
            .icon {
              color: $gray-color;
            }
          }
        }
      }
      .create-box {
        margin-top: 5px;
        background-color: #ebebeb;
        border: solid 1px #aaaaaa;
        table {
          thead {
            th {
              background-color: gainsboro;
              text-align: left;
              &:last-child {
                border-left: solid 1px #cccccc;
              }
            }
          }
          tbody {
            tr {
              border: none;
              td {
                border: none;
              }
              .activo {
                border-right: solid 1px #cccccc;
              }
            }
          }
        }
      }
    }
  }
}
.table-position tbody {
  border: none !important;
  background: #FFFFFF;
}
.table-position thead tr th {
  padding: 12px 2px 12px 2px;
  font-size: 14px !important;
}
.table-position tbody tr td {
  height: 50px;
  vertical-align: middle !important;
  background: #f4f4f4;
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  font-size: 14px !important;
  border-collapse: collapse;
  color: #3d3d3d !important;
}
.lbl-equipo {
  text-decoration: none;
  color: #3d3d3d;
  font-weight: bold;
  font-size: 14px;
}
.colum-num {
  font-weight: bold;
  font-size: 15px;
}
.paginate-count {
  font-size: 14px !important;
}