<?php
foreach($modulosA as $moduloK => $moduloV)
{
    $conModel   = 0;
    $conModelos = 0;
    $par        = 0;
    $conTD      = 0;
    foreach($modelosA as $modeloK => $modeloV)
    {
        if($moduloV['modulos']['id']==$modeloV['modulos']['id'])
        {
            $conModel++;
        }
    }
    ?>
    <div class="seccionAdmin">
        <h3><?= $moduloV['modulos']['modulo'] ?></h3>
        <p></p>
        <table>
            <tbody>
            <?php
            foreach($modelosA as $modeloK => $modeloV)
            {
                if($moduloV['modulos']['id']==$modeloV['modulos']['id'])
                {
                    $conTD++;
                    $conModelos++;
                    if ($conTD == 1)
                    {
        ?>
                        <tr>
        <?php
                    }
        ?>
                    <td>
        <?php
                        $par++;
                        if($par % 2  == 0)
                        {
        ?>
                            <figure> <?= $this->Html->image('admin/Password.gif', array("alt", "Password")) ?></figure>
        <?php
                        }else{
        ?>
                            <figure> <?= $this->Html->image('admin/Users.gif', array("alt", "Password")) ?></figure>
        <?php
                        }
        ?>
                        <a href="<?= $modeloV['recursos']['modelo'] ?>"><?= $modeloV['recursos']['nombre'] ?></a>
                    </td>
        <?php
                    if ($conTD == 4)
                    {
        ?>
                        </tr>
        <?php
                        $conTD = 0;
                    }
                    if($conModel == $conModelos)
                    {
                        while($conTD < 4)
                        {
        ?>
                            <td></td>
        <?php
                            $conTD++;
                        }
        ?>
                        </tr>
        <?php
                    }
                }
            }
            ?>
            </tbody>
        </table>
    </div>
    <?php
}
?>
