footer {
	margin-top: 150px;
	clear: both;
	padding-top: 45px;
	padding-bottom: 10px;
    background-repeat: no-repeat;
    background-image: url("../img/footer.png");
	background-size: 100% 15px;
    color: #3f458c;
	.ssl-logos {
		img {display: inline-block;
			clear: none;
			width: 34px;
		}
	}
}