header {
    .logo {
		display: inline-block;
        font-size: 22px;
        color: $accent-red;
        text-decoration: none;
        font-weight: 600;
        img {
            width: 110px;
        }
		span {
			display: inline-block;
			padding-bottom: 10px;
			vertical-align: bottom;
		}
    }
}
.header-system {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: solid 1px #011880;
	border-bottom: solid 3px #011880;
	margin-top: 15px;
	padding-bottom: 10px;
}
#datos {
	margin-top: 20px;
	margin-left: auto;
	span {
		color: #011880;
		font-size: 14px;
	}
	span.system-name {
		font-size: 24px;
		font-weight: bold;
		color: #011880;
	}
	ul {
		li {
			display: inline-block;
			a {
				padding: 5px 0;
				font-size: 14px;
			}
			b {
				font-size: 14px;
			}
		}
	}
}
