#menu {
	display: block;
	border: solid 3px $main-light;
	border-left: none;
	border-right: solid 1px #011880;
	ul {
		margin: 0;
		padding: 0;
		li {
			position: relative;
			float: left;
			display: inline-block;
			border-right: solid 1px $main-light;
			a {
				display: block;
				padding: 5px 10px;
				text-decoration: none;
				font-size: 13px !important;
			}
			.submenu {
				display: none;
                position: absolute;
                margin: 0;
                padding: 0;
                background-color: $main-light;
                width: 200px;
                z-index: 999;
				li {
					width: 100%;
					border: none;
					a {
						width: 100%;
						color: $light-color;
						font-size: 13px !important;
						&:hover {
							background-color: $light-color;
							color: $main-light;
						}
					}
				}
			}
			&:hover {
				background-color: $main-light;
				a {
					color: $light-color;
				}
				.submenu {
					display: block;
				}
			}
			&:first-child {
				border-left: solid 1px #011880;
			}
		}
	}
}
