<?php
$real_url = '//'.$_SERVER['HTTP_HOST'].$this->request->base.'/'.$this->params->controller.'/';
?>
<script type="text/javascript">
    function getURL(){
        return '<?=$real_url;?>';
    }
</script>
<div class="financistas form container">
    <?php echo $this->Form->create('Financista', array('id'=>'formulario')); ?>
    <fieldset>
        <legend><?php echo __('Editar Fuente de Financiamiento'); ?></legend>
        <div class="alert alert-danger col-xs-12" id="alerta" style="display: none">
            <span class="icon icon-cross-circled"></span>
            <span class="message"></span>
            <button type="button" class="close" data-dismiss="alert"></button>
        </div>
        <div class="col-xs-12">
            <?php
            echo $this->Form->input('id');
            echo $this->Form->input('nombre',array('label'=>'Nombre','div' => ['class'=>'form-group'],"class"=>"form-control validate[required]",'required'=>'required'));
            ?>
            <div class="form-group">

                <?= $this->Form->input('activo', [
                    'label' => 'Activo',
                    'type' => 'checkbox',
                    'div' => false,
                    'style'=>'margin:5px;'
                ]); ?>
            </div>
        </div>
    </fieldset>
</div>

<div class="actions">

    <div><?= $this->Form->button('Almacenar', [
            'label' => false,
            'type' => 'submit',
            'class' => 'btn btn-default',
            'div' => [
                'class' => 'form-group'
            ]
        ]); ?>
        <?php echo $this->Form->end();?></div>
    <div><?php echo $this->Html->link(__('Listado de Fuentes de Financiamiento'), array('action' => 'index'),array('class'=>'btn btn-default')); ?> </div>

</div>
<script type="text/javascript">
    jQuery(function(){
        // Verifica si tiene proyectos relacionados
        // al darle  click al checkbox del campo activo
        $( "#FinancistaActivo" ).on( "change", function() {
            var url = "<?= Router::url(array('controller' => 'financistas', 'action' => 'verify_proyectos')); ?>";
            var id = $('#FinancistaId').val();

            if(!$(this).is( ":checked" )) {
                $.ajax({
                    url: url,
                    type: "post",
                    cache: false,
                    data: {id: id},
                    dataType: 'json',
                    success: function (response) {
                        if(response.fuentes) {
                            $( "#FinancistaActivo" ).prop('checked', true);

                            $("#alerta .message").text('No se puede desactivar, tiene proyectos relacionados');
                            $("#alerta").slideDown();

                            setTimeout(function () {
                                $("#alerta").slideUp();
                            }, 4000);
                        }
                    }
                });
            }
        });
    });
</script>
