div.index {
    margin-top: 5px;
    width: 100%;
    font-size: 16px;
    font-family: 'Calibri', 'Roboto', sans-serif;
}

h2{
    color:#cb071a;
    font-size: 1.4em;
}

/* Tabla */
table#tblin{
    width: 100%;
}
table tr td.form-group {
    padding-left: 15px;
}

.tbf {
    background-color: #006db8;
    font-weight: bold;
    color: #fff;
    border: solid 1px #000;
}

table.table tbody tr td {
    border: solid 1px #000;
}
table.table tbody tr.totales td {
    background-color: #cedef6 !important;
    font-weight: bold;
}
.table > thead > tr > th.bdr {
    border-top-right-radius: 5px;
}
.table > thead > tr > th.bdr1 {
    border-top-left-radius: 5px;
}
div.input-group > div{
    display: inline-block;
}
div.input-group{
    display: inline-block;
}
td#check{
    width: 20%;
    padding-left: 35px;

}
.table tbody tr td {
    font-size: 16px;

}

table.table tbody{
    border:1px solid #000;
}
table.table-striped>tbody>tr:nth-child(even)>td{
    background-color: #ebebeb ;
}

/* Acciones */
.acciones-shadow {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s;
    border: solid 0.5px #000000;
    font-size: 0.96em;
}

.btn-acciones {
    background-color: #021f54;
    color: #fff!important;
    border-radius: 5px;
    width:auto;
    white-space: nowrap;
    max-height: 30px;
    padding: 3px 15px 25px 15px;
}

.btn-acciones:hover {
    color: #fff;
}
.btn-imprimir{
    background-color: #021f54 ;
    color: #FFFFff !important;
    width: auto;
    white-space: nowrap;
    height: 30px;
}
a.btn-imprimir:hover{
    background-color: #021f54;
    color: #FFFFff;
}
.icono-tringle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    border-color: #ffffff transparent transparent transparent;
    margin-left: 7px;
    margin-top: 2px;
}
.btn-crear {
    background-color: #4160a3;
    color: #fff !important;
    border-radius: 5px;
    width: auto;
    white-space: nowrap;
    text-decoration: none;
    max-height: 30px;
    padding: 3px 15px 25px 15px
}
.btn-crear:hover {
    color: #fff;
}
.btn-impresion{
    background-color: #fff ;
    color: #021f54 !important;
    width: 120px;
    height: 25px;
    float: right;
    white-space: nowrap;
    margin-top: -20px;
    border-radius: 4px;
}
a.btn-impresion:hover{
    background-color: #fff;
    color: #021f54 !important;
}
.icon-tringle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    border-color: #021f54 transparent transparent transparent;
    margin-left: 77px;
    margin-top: -15px;
}

.div-actions {
    margin-top: 10px;
}
.acciones-panel {
    margin-top: 15px;
}

/* Paginado */
div.paging {
    background:#fff;
    color: #ccc;
    margin-bottom: 2em;
}
div.paging div.disabled {
    color: #ddd;
    display: inline;
}
div.paging span {
}
div.paging span.current {
    color: #000;
}
div.paging span a {
}
/* Panel */
.encabezado-panel {
    font-weight: bold;
}
/*Borde Rojo para los elementos requeridos*/
input:required:invalid, select:required:invalid, textarea:required:invalid
{
    background: #fff url(../img/test-fail-icon.png) no-repeat 98% center;
    border:1px solid red;
}
input:required:valid, select:required:valid, textarea:required:valid
{
    background: #fff url(../img/test-pass-icon.png) no-repeat 98% center;
    border: 1px solid green;
}
.Act-ed{
    display: inline-block !important;
    margin-left: 8px;
    cursor: pointer;
    color:#fff;
}
.ed-Int{
    display: inline-block !important;
    margin-left: 8px;
    cursor: pointer;
}
.deleteMod{
    display: inline-block !important;
    margin-left: 20px;
}
.icon-delete{
    height: 22px;
    margin-top: -8px;
    cursor: pointer;
}