body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

a {
	color: #1b63d2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 800;
	color: $main-color;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1em;
}

.primary-text {
	color: $main-color;
}
